.carrousel{
    position: relative;
    max-width: 18em;
    margin-top:20px;
    height: 300px;
    overflow: hidden;
   
}

.grande{
    width: 200%;
    height: 300px;
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(0%);
}

.itemCarrousel{
    position: relative;
    margin-right:100px;
}

.flechaCarrousel{
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
}

.carrousel .flechaCarrousel.active{
    color: red
}
