.carrousel{
    position: relative;
    height: 235px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    margin:5px;
}

.flechasCarrousel{
    align-items: center;
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
}
